body {
    background: linear-gradient(90deg, navy, rgb(233, 233, 156));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

button {
    background-color: rgb(39, 39, 117);
    border-radius: 10px;
    border: none;
    height: 70px;
    width: 250px;
    color: moccasin;
    font-size: 20px; 
    text-shadow: 1px 1px 2px black;      
    box-shadow: 1px 3px 5px black;
}
.bouton {
    display: flex;
    justify-content: center;
    align-items: flex-end;    
}
.cadre {
    background-color: white;
    border: dashed 5px navy;
    padding:10% 20%;
    margin-top: 5%;
}